@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: oklch(0.97 0 0); /* neutral-100 */
  --foreground: oklch(0.2 0 0); /* neutral-850 text level */

  --heatmap-empty: oklch(0.9 0 0);        /* neutral-200-ish */

  /* Pull lightness down, keep warmth */
  --heatmap-scale-1: oklch(0.86 0.08 60); /* gentle warm */
  --heatmap-scale-2: oklch(0.85 0.15 60); /* orange-300 */
  --heatmap-scale-3: oklch(0.80 0.2 60); /* orange-500 */
  --heatmap-scale-4: oklch(0.75 0.2 60);   /* orange-700 */


  --selection-bg: oklch(0.9 0 0); /* neutral-200ish */
  --selection-text: oklch(0.1 0 0); /* neutral-900ish */
}

.dark {
  --background: oklch(0.2 0 0); /* custom neutral-850 */
  --foreground: oklch(0.97 0 0); /* neutral-100 text */
  /* Heatmap colors removed as they are now global */
  --selection-bg: oklch(0.4 0 0); /* neutral-700ish */
  --selection-text: oklch(0.97 0 0); /* neutral-100 */
  --heatmap-empty: oklch(0.3 0 0); /* neutral-700-ish */
}

::selection {
  background-color: var(--selection-bg);
  color: var(--selection-text);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}

body {
  background-color: oklch(0.97 0 0); /* neutral-100 */
}

.dark body {
  background-color: var(--background);
  background-attachment: fixed;
}
