@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: oklch(0.97 0 0); /* neutral-100 */
  --foreground: oklch(0.2 0 0); /* neutral-850 text level */
}

.dark {
  --background: oklch(0.2 0 0); /* custom neutral-850 */
  --foreground: oklch(0.97 0 0); /* neutral-100 text */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}

body {
  background-color: oklch(0.97 0 0); /* neutral-100 */
}

.dark body {
  background-color: var(--background);
  background-attachment: fixed;
}
